@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf); 
    font-style: normal;
    font-display: swap;

}

:root{
    --primary-color: #8F0101;
    --secondary-color: #B81515;
    
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #0000;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p{
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
    font-weight: var(--title-weight);
}
